p.a{
    font-style: normal;
}

p.normal{
    font-weight: normal;
}

div.a{
    font-size: 17px;
}

.p1{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color:aquamarine;
}
